@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext);

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,font,img,ins,kbd,q,s,samp,small,strike,sub,tt,var,center,dl,dt,dd,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  background:transparent;
  border:0;
  font-family:inherit;
  font-size:100%;
  font-style:inherit;
  font-weight:inherit;
  margin:0;
  padding:0;
  outline:0;
  vertical-align:baseline;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}

/* Main Layout */
html {
  height:100%;
  margin-bottom:1px;
}
body {
  font:10pt 'Open Sans', Tahoma, sans-serif;
  color: #2e2e2e;
  height: 100%;
}
h1,h2,legend {
  font-weight:bold;
  margin:1em 0;
}
h1 {
  font-size:35pt;
}
h2,legend {
  font-size:18pt;
}
h3 {
  font-size:16pt;
  text-align: center;
  margin:20px 0;
}
h4 {
  font-size:110%;
}
hr {
  clear: both;
  border: none; /* Убираем границу для браузера Firefox */
  color: #ccc; /* Цвет линии для остальных браузеров */
  background-color: #ccc; /* Цвет линии для браузера Firefox и Opera */
  height: 1px;
  margin: 12px 0;
}
a {
  text-decoration:none;
  font-weight:bold;
  color: #000;
}
a:hover {
  text-decoration:underline;
}
ul {
  margin:1em;
}
p {
  margin-top:10px;
  margin-bottom:10px;
}
/*.dp20,.dp25,.dp30,.dp33,.dp40,.dp50,.dp60,.dp70,.dp100 {
  float:left;
}
.dp20 {
  width:20%;
}
.dp25 {
  width:25%;
}
.dp30 {
  width:30%;
}
.dp33 {
  width:33.3333%;
}
.dp40 {
  width:40%;
}
.dp50 {
  width:50%;
}
.dp60 {
  width:60%;
}
.dp70 {
  width:70%;
}
.dp100 {
  width:100%;
  margin-top:0;
}*/
.clr {
  clear:both;
  font-size:0;
}
.dev {
  display: none;
}
.highlight {
  background-color: yellow;
}
/* PAGINATION */
.pagination {
  width: 100%;
}
.pagination ul {
  text-align: center;
  margin: 10px 0;
}
.pagination ul li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}
.pagination ul li a, .pagination ul li span {
  display: block;
  border:1px solid #ddd;
  padding: 5px 10px;
  border-radius: 4px;
}
.pagination ul li a:hover {
  text-decoration: none;
  border-color:#555;
}
.pagination .pagination-text {
  text-align: center;
  margin: 10px 0;
}
.pagination .pagination-counter {
  text-align: center;
  margin: 10px 0;
}

/* MAIN STYLES*/
.loading {
  background: url(../images/ajax-loader.gif) 0 0 no-repeat;
  width: 16px;
  height: 16px;
}
.messages {
  position: fixed;
  top: 0;
  left: 0;
  background: #008CBD;
  /* border-radius: 0 0 0 10px; */
  width: 100%;
  color: #fff;
}
.messages .messages-inner {
  padding: 20px;
}
#main {
  position: relative;
  height: auto;
  min-height: 100%;
}
h2.content-title {
  width:100%;
  text-align: center;
  background-color: #222;
  color: #fff;
  margin-top: 0;
  padding:20px 0;
  font-size: 14pt;
}
.content-body {
  width:100%;
  overflow:scroll;
}
.mainmenu {
  display: none;
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  z-index: 99999;
  color:#fff;
  background: #000;
  background: rgba(0,0,0,0.7);
}
.mainmenu a {
  color:#fff;
  display: block;
  font-weight: normal;
  font-size: 11pt;
}
ul.menu-vertical {
  margin:0;
  background: #000;
  background: rgba(0,0,0,0.9);
  width:80%;
  height: 100%;
  padding-top: 10px;
}
ul.menu-vertical li {
  list-style: none;
}
ul.menu-vertical li a {
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}
ul.menu-vertical li a:hover {
  background: #000;
  text-decoration: none;
}
ul.menu-vertical li a.active {
  background: #555;
  border-bottom: 1px solid #111;
  border-top: 1px solid #111;
  text-decoration: none;
}
ul.menu-vertical li.separator {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
ul.menu-vertical ul.item-childrens {
  margin: 0;
  background-color: #111;
  border-top:1px solid #000;
}
ul.menu-vertical ul.item-childrens li a {
  padding: 8px 0 8px 35px; 
  font-size: 10pt;
}
ul.menu-vertical ul.item-childrens li a.active {
  background-color: #333;
}
ul.menu-vertical li .menu-item-counter {
  display: inline-block;
  background-color: #d9534f;
  color: #fff;
  font-size: 9px;
  line-height: 17px;
  font-weight: 600;
  margin: 1px 0 0 2px;
  vertical-align: top;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  z-index: 26;
  padding: 0 6px;
}
#menu-button {
  position: absolute;
  top:0;
  left:0;
  font-size: 20pt;
  color:#fff;
  padding: 21px 10px;
}
#menu-button-close {
  position: absolute;
  top:0;
  left:80%;
  font-size: 20pt;
  color:#fff;
  padding: 21px 10px;
}

/* TABELS */
.main-table {
  width: 100%;
  font-size: 10px;
  /*font-family: arial;*/
}
.main-table th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  background: #F5F5F5;
  border-top: 1px solid #CFCFCF;
  border-bottom: 1px solid #CFCFCF;
  padding: 5px 7px;
}
.main-table td {
  padding: 7px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  vertical-align: middle;
  text-align: center;      
}
.main-table tr:hover td {
  background-color: #F9F9F9;
}
.main-table .sortable .handle {
  cursor: move;
}
.main-table .sortable .handle span.ui-icon {
  margin: 0 auto;
}
.main-table .exclusive {
  background-color: #FFFFD7;
}
.main-table td .small_cell {
  width:120px;
  font-size:10px;
  white-space:pre-wrap;
  max-height:40px;
  overflow:hidden;
}
.main-table td a {
  white-space: pre-wrap;
}
.main-table .field-adress {
  width:60% !important;  
}
.main-table .field-agency {
  width:10% !important;
}
.main-table .field-price {
  width:30% !important;
}
.mobile-hide {
  display: none !important;
}

/* FILTERS */
.block-filters {
  position: relative;  
  border: 1px solid #DDD;
  padding: 15px 10px 10px;
  background-color: #F5F5F5;
  margin:20px 0 10px;
  font-size: 11px;
}
.block-filters .block-title {
  border: 1px solid #CCC;
  position: absolute;
  top: -11px;
  left: 10px;
  background: #FFF;
  padding: 0 10px;
  line-height: 20px;
  font-size: 12px;
}
.block-filters .block-item {
  width:100%;
  margin-bottom: 10px;
}
.block-filters input, .block-filters button {  
  font-size: 11px;
  margin-right: 3px;
}
.block-filters input[type="text"], .block-filters select {
  width:95%; 
}

.controller-menu {
  text-align: center;
}
.buttons-mobile {
  text-align: center; 
  margin: 20px 0; 
}
.buttons a {
  display: block;
  line-height: 40px;
  text-align: center;
  margin: 10px 0;
}
.buttons input {
  display: block;
  text-align: center;
  margin: 10px auto;
}
.buttons .btn-green {
  background: #4CD964;
  color:#fff;
}
.buttons .btn-blue {
  background: #5AC8FA;
  color: #fff;
}
.buttons .btn-red {
  background: #FF2D55;
  color: #fff;
}

/* BLOCKS */
.block {
  width:100% !important;
  overflow: hidden;
}
.block .block-title {
  text-align: center;
  border-top:1px solid #222;
  border-bottom:1px solid #222;
  font-weight: bold;
  padding: 10px 0;
  margin: 10px 0;
}
.block .block-item {    
  padding: 10px;  
  font-size: 10pt;
}
.block .block-item label {
  width:100%;
  display: block;   
  font-size: 11pt;
}
.block .images-list {
  text-align: center;
  list-style: none;
}
.block .block-item input[type="text"], .block .block-item input[type="number"] {
  border: 1px solid #ccc;
  padding: 5px;  
  width: 100%;  
  resize: none;
  margin: 0;
  box-sizing: border-box;
  font-size: 10pt;
}
.block .block-item select {
  border:1px solid #ccc;
  padding: 4px;
  width: 100%;  
  resize: none;
  margin: 0;
  box-sizing: border-box;
  font-size: 10pt;
}
.block .block-item textarea {
  width: 100%;
  min-height: 100px;
  font-size: 10pt;
}
.table-filters-block {
  padding: 0 10px;
}
.objects-categories-menu {
  padding: 0 10px;
  word-break: keep-all;
}

/* LOGIN PAGE */
#login {
  text-align: center;
}
#login input[type="text"], #login input[type="password"], #login input[type="email"] {
  width: 70%;
  margin-bottom: 10px;
  height: 30px;
}
.q-page {
  padding: 15px;
}
.q-page input {
  border:1px solid #ccc;
  width:98%;
  font-size: 13pt;
  padding: 2px 5px;
}
.q-item {
  border-bottom:1px solid #ccc;
}
.q-answer {
  font-weight: bold;
  color:green;
}